@import 'lib/normalize.css';
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
body {
  font-family: "PingFangSC-Regular", "PingFang SC", "兰亭黑", "Helvetica", sans-serif;
  color: #333333;
  font-size: 14px;
  background-color: #F5F5F5;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
}
input[type='text'] {
  outline: none;
}
input[type='number'] {
  outline: none;
}
.color-primary {
  color: #F5A626;
}
.color-success {
  color: #67C23A;
}
.color-warning {
  color: #E6A23C;
}
.color-danger {
  color: #F56C6C;
}
.color-info {
  color: #909399;
}
.border-all {
  border: 1px solid;
  border-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
}
.border-tb {
  border: 1px solid;
  border-width: 1px 0;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
}
.border-lr {
  border: 1px solid;
  border-width: 0 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
}
.border-t {
  border: 1px solid;
  border-width: 0;
  border-top-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
}
.border-b {
  border: 1px solid;
  border-width: 0;
  border-bottom-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
}
.border-l {
  border: 1px solid;
  border-width: 0;
  border-left-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
}
.border-r {
  border: 1px solid;
  border-width: 0;
  border-right-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
}
.back-white {
  height: 100%;
  background-color: white;
}
.card {
  background-color: white;
  line-height: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.card + .card {
  margin: 1rem 0 ;
}
.card-round_grey {
  background-color: #eeeeee;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem #999;
}
.card-round_white {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.2rem #999;
}
.card-round_white_old {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.25rem;
}
.card-round_white_new {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.05rem #999;
}
.card-round_grey + .card-round_grey {
  margin-top: 1rem;
}
.card-round_white + .card-round_white {
  margin-top: 1rem;
}
.card-round_grey + .card-round_white {
  margin-top: 1rem;
}
.card-round_grey + .card-round_grey {
  margin-top: 1rem;
}
.card-cell {
  padding: 1rem 0;
  position: relative;
}
.card-cell:not(:last-child) {
  border: 1px solid;
  border-width: 0;
  border-bottom-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
}
.card-cell a {
  text-decoration: none;
}
.card-cell .card-row-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.new-card-cell {
  padding: 1rem 0;
  position: relative;
}
.new-card-cell:not(:last-child) {
  border: 1px solid;
  border-width: 0;
  border-right-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiunPnzn8gYABhEBsgwAByVw0jMhH+RQAAAABJRU5ErkJggg==') 0 2 stretch;
}
.new-card-cell a {
  text-decoration: none;
}
.new-card-cell .card-row-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.card-cell_up {
  padding: 1rem 0;
  position: relative;
}
.card-cell_up:not(:last-child) {
  border: 1px solid;
  border-width: 0;
  border-bottom-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
}
.card-cell_up a {
  text-decoration: none;
}
.card-cell_up .card-row-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.card-cell_up:after {
  content: '';
  background: url(../img/icon/global/arrow_up.svg) no-repeat center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-size: cover;
}
.card-cell_down {
  padding: 1rem 0;
  position: relative;
}
.card-cell_down:not(:last-child) {
  border: 1px solid;
  border-width: 0;
  border-bottom-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
}
.card-cell_down a {
  text-decoration: none;
}
.card-cell_down .card-row-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.card-cell_down:after {
  content: '';
  background: url(../img/icon/global/arrow_down.svg) no-repeat center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-size: cover;
}
.card-cell_link {
  padding: 1rem 0;
  position: relative;
}
.card-cell_link:not(:last-child) {
  border: 1px solid;
  border-width: 0;
  border-bottom-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
}
.card-cell_link a {
  text-decoration: none;
}
.card-cell_link .card-row-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.card-cell_link:after {
  content: '';
  background: url(../img/icon/global/arrow_right.svg) no-repeat center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-size: cover;
}
.card-cell_cancel {
  padding: 1rem 0;
  position: relative;
}
.card-cell_cancel:not(:last-child) {
  border: 1px solid;
  border-width: 0;
  border-bottom-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
}
.card-cell_cancel a {
  text-decoration: none;
}
.card-cell_cancel .card-row-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.card-cell_cancel:after {
  content: '';
  background: url(../img/icon/global/cancel.svg) no-repeat center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-size: cover;
}
.button-block {
  border-radius: 0.25rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem 1rem;
  font-weight: lighter;
}
.button-block_primary {
  border-radius: 0.25rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem 1rem;
  font-weight: lighter;
  background-color: #F5A626;
  color: white;
}
.button-block_white {
  border-radius: 0.25rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem 1rem;
  font-weight: lighter;
  background-color: white;
  color: #333333;
  border: 1px #C2C2C2 solid;
}
.button-block_grey {
  border-radius: 0.25rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem 1rem;
  font-weight: lighter;
  background-color: #eeeeee;
  color: #666666;
}
.button-block_warning {
  border-radius: 0.25rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem 1rem;
  font-weight: lighter;
  background-color: #E6A23C;
  color: white;
}
.button-inline {
  display: inline-block;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: lighter;
}
.button-inline_primary {
  display: inline-block;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: lighter;
  background-color: #F5A626;
  color: white;
}
.button-inline_grey {
  display: inline-block;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: lighter;
  background-color: #eeeeee;
  color: #666666;
}
.button-inline_warning {
  display: inline-block;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: lighter;
  background-color: #E6A23C;
  color: white;
}
.button-inline_primary_transparent {
  display: inline-block;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: lighter;
  border: 1px solid #F5A626;
  color: #F5A626;
}
.button-inline_warning_transparent {
  display: inline-block;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: lighter;
  border: 1px solid #E6A23C;
  color: #E6A23C;
}
.button-inline_grey_transparent {
  display: inline-block;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: lighter;
  border: 1px solid #C2C2C2;
  color: #C2C2C2;
}
.button-sure_submit {
  flex: 1;
  padding: .8rem 1rem;
  text-align: center;
  border-radius: .25rem;
  background: #ea9600;
  color: #ffffff;
}
.button-return_submit {
  flex: 1;
  padding: .8rem 1rem;
  text-align: center;
  border-radius: .25rem;
  background: #ffffff;
  border: 1px #cccccc solid;
  margin-right: 1rem;
}
.button-group {
  display: flex;
  padding-bottom: 1rem;
}
.input_line {
  outline: none;
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid;
  border-width: 0;
  border-bottom-width: 1px;
  -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiuHPnzn+G////MzAxAAHT3bt3/wMEGABuJwor2mkOHwAAAABJRU5ErkJggg==') 2 0 stretch;
}
.picker-toolbar {
  height: 3.4rem;
  line-height: 3.4rem;
}
.mint-datetime-action {
  color: #333333;
  line-height: 3.4rem;
  font-size: 14px;
}
.mint-datetime-confirm {
  color: #FEA824;
}
#noModal .v-modal {
  opacity: 0 !important;
}
.el-slider__runway {
  border: 1px solid #a9acb1;
  background: #ffffff;
}
.el-slider__stop {
  background: #F5A626;
}
.el-slider__bar {
  background: #F5A626;
}
.el-slider__button {
  border-color: #F5A626;
}
.structure-title {
  text-align: center;
  color: #F5A626;
  padding: .8rem 0;
  font-weight: bolder;
}
#score1 .el-slider__runway {
  margin: 8px 0;
  background-color: #FFECCC;
  border: 1px #FFECCC solid;
}
#score1 .el-slider__runway .el-slider__stop {
  background-color: #fff;
  width: 5px;
  height: 5px;
  margin-top: 1px;
}
#score2 .el-slider__runway {
  margin: 8px 0;
  background-color: #FFECCC;
  border: 1px #FFECCC solid;
}
#score2 .el-slider__runway .el-slider__stop {
  background-color: #fff;
  width: 5px;
  height: 5px;
  margin-top: 1px;
}
#score3 .el-slider__runway {
  margin: 8px 0;
  background-color: #FFECCC;
  border: 1px #FFECCC solid;
}
#score3 .el-slider__runway .el-slider__stop {
  background-color: #fff;
  width: 5px;
  height: 5px;
  margin-top: 1px;
}
.fix-border {
  padding: 1rem 0;
  border-bottom: 1px #e3e4e6 solid;
}
.el-input__inner {
  border: 1px solid #F5A626;
}
.el-input__inner:hover {
  border-color: #F5A626;
}
.el-select:hover .el-input__inner {
  border-color: #F5A626;
}
.el-select .el-input.is-focus .el-input__inner {
  border-color: #F5A626;
}
.el-select .el-input__inner:focus {
  border-color: #F5A626;
}
.layout-row-left {
  padding-left: 11px;
}
.layout-row-right {
  padding-right: 11px;
}
.video-js .vjs-tech {
  left: 50%;
  transform: translateX(-50%);
  width: auto !important;
}
.el-loading-spinner .path {
  font-size: 50px;
  stroke: #F5A626;
}
.el-loading-spinner .el-loading-text {
  color: #F5A626;
}
.video-js .vjs-tech {
  object-fit: fill;
}
/*# sourceMappingURL=global.css.map */